div(id="container") !{ssrString}

script(id="ssr-data").
  window.__props=!{props}
//- script(src="https://unpkg.com/react@16.13.1/umd/react.development.js")
//- script(src="https://unpkg.com/react-dom@16.13.1/umd/react-dom.development.js")
script(src="/app.bundle.js")